In [24]:
from tinydb import TinyDB, Query
import pandas as pd

In [2]:
db = TinyDB('yani_db.json')

In [3]:
db.insert({'course': 'stats-sw', 'year': 2017, 'students': 11})
db.insert({'course': 'stats-sw', 'year': 2018, 'students': 21})

6

In [20]:
# db.all()
db.get(course)

NameError: name 'course' is not defined

In [5]:
for item in db:
    print(item)

{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex', 'students': 24, 'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}}
{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'}
{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'}
{'year': 2020}
{'course': 'stats-sw', 'year': 2017, 'students': 11}
{'course': 'stats-sw', 'year': 2018, 'students': 21}

In [6]:
db.insert({'course': 'db-management', 'year': 2019, 'students': 21})
db.insert({'course': 'stats-sw', 'year': 2019, 'students': 24})

8

In [7]:
q = Query()
db.search(q.year==2019)

[{'course': 'db-management', 'year': 2019, 'students': 21},
 {'course': 'stats-sw', 'year': 2019, 'students': 24}]

In [8]:
db.search((q.course=='stats-sw') & (q.year==2017) & (q.year == 2019))

[]

In [9]:
db.all()

[{'course': 'defense against the dark arts',
  'year': 2000,
  'book': 'Codex',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2018, 'students': 21},
 {'course': 'db-management', 'year': 2019, 'students': 21},
 {'course': 'stats-sw', 'year': 2019, 'students': 24}]

In [10]:
db.update({'students':205}, q.course=='db-management')

[7]

In [21]:
db.insert({'temp_col':203})

11

In [26]:
pd.DataFrame(db.all())

,course,year,book,students,temp_col
0,defense against the dark arts,2000.0,Codex,NaN,NaN
1,defense against the dark arts,2000.0,Codex,NaN,NaN
2,NaN,2020.0,NaN,NaN,NaN
3,stats-sw,2017.0,NaN,11.0,NaN
4,stats-sw,2017.0,NaN,11.0,NaN
5,stats-sw,2018.0,Python for Data Science,21.0,NaN
6,NaN,NaN,NaN,NaN,203.0

In [11]:
db.all()

[{'course': 'defense against the dark arts',
  'year': 2000,
  'book': 'Codex',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2018, 'students': 21},
 {'course': 'db-management', 'year': 2019, 'students': 205},
 {'course': 'stats-sw', 'year': 2019, 'students': 24}]

In [12]:
db.remove(q.students>20)

[1, 6, 7, 8]

In [13]:
db.all()

[{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11}]

In [27]:
#db.truncate()

In [28]:
#db.all()

[]

In [14]:
db.insert({'course': 'stats-sw', 'year': 2017, 'students': 11})
db.insert({'course': 'stats-sw', 'year': 2018, 'students': 21, 'book': 'Python for Data Science'})

10

In [15]:
db.all()

[{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'}]

In [29]:
db.insert({'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'})

1

In [16]:
db.all()

[{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'}]

In [31]:
db.update({'students':24}, q.year==2019)

[1]

In [19]:
db.all()

[{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'}]

In [33]:
db.update({'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}}, q.year==2019)

[1]

In [17]:
db.update({'course': 'dirty against the dark arts', 'year': 1921, 'book': 'Alahamora'}, q.year==2019)

[]

In [18]:
db.all()

[{'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'course': 'defense against the dark arts', 'year': 2000, 'book': 'Codex'},
 {'year': 2020},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'}]

In [35]:
db.insert({'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'})

2

In [36]:
db.all()

[{'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'}]

In [37]:
db.insert({'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'})

3

In [38]:
db.all()

[{'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'}]

In [39]:
db.insert({'year': 2019, 'year': 2020})

4

In [40]:
db.all()

[{'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'},
 {'year': 2020}]

In [28]:
db.update({"stupids": 4 + 1})

[2, 3, 4, 5, 9, 10, 11]

In [29]:
db.all()

[{'course': 'defense against the dark arts',
  'year': 2000,
  'book': 'Codex',
  'stupids': 5},
 {'course': 'defense against the dark arts',
  'year': 2000,
  'book': 'Codex',
  'stupids': 5},
 {'year': 2020, 'stupids': 5},
 {'course': 'stats-sw', 'year': 2017, 'students': 11, 'stupids': 5},
 {'course': 'stats-sw', 'year': 2017, 'students': 11, 'stupids': 5},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science',
  'stupids': 5},
 {'temp_col': 203, 'stupids': 5}]

In [30]:
pd.DataFrame(db.all())

,course,year,book,stupids,students,temp_col
0,defense against the dark arts,2000.0,Codex,5,NaN,NaN
1,defense against the dark arts,2000.0,Codex,5,NaN,NaN
2,NaN,2020.0,NaN,5,NaN,NaN
3,stats-sw,2017.0,NaN,5,11.0,NaN
4,stats-sw,2017.0,NaN,5,11.0,NaN
5,stats-sw,2018.0,Python for Data Science,5,21.0,NaN
6,NaN,NaN,NaN,5,NaN,203.0

In [36]:
for item in db:
    db.update({'school':"Hogwarts"})

In [38]:
pd.DataFrame(db.all())

,course,year,book,stupids,school,students,temp_col
0,defense against the dark arts,2000.0,Codex,5,Hogwarts,NaN,NaN
1,defense against the dark arts,2000.0,Codex,5,Hogwarts,NaN,NaN
2,NaN,2020.0,NaN,5,Hogwarts,NaN,NaN
3,stats-sw,2017.0,NaN,5,Hogwarts,11.0,NaN
4,stats-sw,2017.0,NaN,5,Hogwarts,11.0,NaN
5,stats-sw,2018.0,Python for Data Science,5,Hogwarts,21.0,NaN
6,NaN,NaN,NaN,5,Hogwarts,NaN,203.0