In [1]:
from tinydb import TinyDB, Query

In [2]:
db = TinyDB('test.json')

In [3]:
db.insert({'course': 'stats-sw', 'year': 2017, 'students': 11})
db.insert({'course': 'stats-sw', 'year': 2018, 'students': 21})

2

In [4]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2018, 'students': 21}]

In [5]:
for item in db:
    print(item)

{'course': 'stats-sw', 'year': 2017, 'students': 11}
{'course': 'stats-sw', 'year': 2018, 'students': 21}

In [6]:
db.insert({'course': 'db-management', 'year': 2019, 'students': 21})
db.insert({'course': 'stats-sw', 'year': 2019, 'students': 24})

4

In [7]:
q = Query()
db.search(q.year==2019)

[{'course': 'db-management', 'year': 2019, 'students': 21},
 {'course': 'stats-sw', 'year': 2019, 'students': 24}]

In [8]:
db.search(q.course=='stats-sw')

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw', 'year': 2018, 'students': 21},
 {'course': 'stats-sw', 'year': 2019, 'students': 24}]

In [9]:
db.update({'students':20}, q.course=='stats-sw')

[1, 2, 4]

In [10]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 20},
 {'course': 'stats-sw', 'year': 2018, 'students': 20},
 {'course': 'db-management', 'year': 2019, 'students': 21},
 {'course': 'stats-sw', 'year': 2019, 'students': 20}]

In [11]:
db.remove(q.students>20)

[3]

In [12]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 20},
 {'course': 'stats-sw', 'year': 2018, 'students': 20},
 {'course': 'stats-sw', 'year': 2019, 'students': 20}]

In [13]:
db.purge()

In [14]:
db.all()

[]

In [15]:
db.insert({'course': 'stats-sw', 'year': 2017, 'students': 11})
db.insert({'course': 'stats-sw', 'year': 2018, 'students': 21, 'book': 'Python for Data Science'})

2

In [16]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'}]

In [17]:
db.insert({'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'})

3

In [18]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'}]

In [19]:
db.update({'students':24}, q.year==2019)

[3]

In [20]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'},
 {'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24}]

In [21]:
db.update({'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}}, q.year==2019)

[3]

In [22]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'},
 {'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}}]

In [23]:
db.insert({'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'})

4

In [24]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'},
 {'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'}]

In [25]:
db.insert({'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'})

5

In [26]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'},
 {'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'}]

In [27]:
db.insert({'year': 2019, 'year': 2020})

6

In [28]:
db.all()

[{'course': 'stats-sw', 'year': 2017, 'students': 11},
 {'course': 'stats-sw',
  'year': 2018,
  'students': 21,
  'book': 'Python for Data Science'},
 {'course': 'stats-sw',
  'year': 2019,
  'book': 'Python for Data Science',
  'students': 24,
  'office hours': {'time': '5-6pm', 'loc': 'SEC 206'}},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'},
 {'course': 'stats-sw', 'year': 2019, 'book': 'Python for Data Science'},
 {'year': 2020}]